<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-action">
  <div>
    <h3>My Products</h3>
    <a href="/me/trash/courses">Deleted Products ({{deletedCount}}) </a>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all">
          Select All
        </label>
      </div>
      <select
        class="form-select form-select-sm checkbox-select-all-options"
        aria-label="Default select example"
        name="action"
        required="required"
        >
        <option value="" selected>--Open Selector Action--</option>
        <option value="delete">Delete</option>

      </select>
      <div
        class="btn btn-primary btn-sm checkbox-submit-btn" disabled="disabled"
      >Submit</div>
    </div>

  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">Stt</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Time create</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />

            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Update</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-modal"
              data-id="{{this._id}}"
            >Delete</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            You have not added a product yet !
            <a href="/courses/create">Add Products</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="delete-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Do you really want delete this product ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          id="btn-delete-product"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>

      </div>
    </div>
  </div>
</div>

//
{{! Delete hidden Form }}
<form name="delete-form" method="POST"></form>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
></script>

<script>
  const exampleModal = document.getElementById('delete-modal');
  var productId;
  var deleteForm = document.forms['delete-form'];
  //var containerForm = document.forms['container-form'];
  var containerForm = $('form[name="container-form"]');
  var btnDeleteProduct = document.getElementById("btn-delete-product");
  var checkboxAll = $('#checkbox-all');
  var checkboxItems = $('input[name="courseIds[]"]');
  var checkboxSubmitBtn = $('.checkbox-submit-btn');

  if(exampleModal) {
  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    productId = button.getAttribute('data-id');
   }) };

   btnDeleteProduct.onclick = function() {
  deleteForm.action = '/courses/' + productId + '/?_method=DELETE';
  deleteForm.submit();
  };

  checkboxAll.change(function() {
    var isCheckedAll = $(this).prop('checked');
    checkboxItems.prop('checked', isCheckedAll);
   renderCheckAllSubmitBtn() });

  // checkboxSubmitBtn.click(function(e) {
    //e.preventDefault();
    //var isSubmittable = !$(this).hasClass('disabled');
    //if(isSubmittable) {
      //containerForm.submit();
   // }
    //});


   checkboxItems.change(function() {
    var isCheckedAll = checkboxItems.length === $('input[name="courseIds[]"]:checked').length;
    checkboxAll.prop('checked', isCheckedAll);
    renderCheckAllSubmitBtn()});

    function renderCheckAllSubmitBtn(){
      var checkedCount = $('input[name="courseIds[]"]:checked').length;
    if(checkedCount > 0) {
      checkboxSubmitBtn.attr('disabled', false) }
      else {
      checkboxSubmitBtn.attr('disabled', true)}
      }
</script>