<div class="mt-4">
  <div>
    <h3>Deleted Products</h3>
    <a href="/me/stored/courses">Back to Stored</a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Stt</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Time create</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-link btn-restore"
              data-id="{{this._id}}"
            >Restore</a>
            <a
              href=""
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-modal"
              data-id="{{this._id}}"
            >Force Delete</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Empty.
            <a href="/me/stored/courses">Products List</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="delete-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Do you really want delete this product ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          id="btn-delete-product"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>

      </div>
    </div>
  </div>
</div>

<form name="delete-form" method="POST"></form>
<form name="restore-form" method="POST"></form>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
></script>
<script>
  document.addEventListener('DOMContentLoaded', function() { var productId; var
  deleteForm = document.forms['delete-form']; var restoreForm =
  document.forms['restore-form']; var btnDeleteProduct =
  document.getElementById('btn-delete-product'); var restoreBtn =
  $('.btn-restore'); $('delete-modal').on('show.bs.modal', function(event) { var
  button = $(event.relatedTarget); productId = button.data('id'); });
  btnDeleteProduct.onclick = function() { deleteForm.action = '/courses/' +
  productId + '/force?_method=DELETE'; deleteForm.submit(); };
  restoreBtn.click(function(e) { e.preventDefault(); var productId =
  $(this).data('id'); restoreForm.action = '/courses/' + productId +
  '/restore?_method=PATCH'; restoreForm.submit(); }) } )

</script>